html {
    min-height: 100%;
    position: relative;
}

body {
    margin: 0;
    width: 100%;
    height: 100%;
}

div#map {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width:100%;
}

div#logo, div#logo img {
    height:80px;
}
div#logo div{
    position:absolute;
    bottom:0;
    width:100%;
}
div#logo div p{
    width:100%;
    text-align:center;
    float:right;
    font-size:10px;
}
div#logo{
    position:relative;
}
div#logo p{
    margin-top: 0px;
    margin-bottom: 0px;
}
div#logo {
    background-image: url('images/phonetrack.png');
    width: 65px;
    background-size: 65px 65px;
    background-repeat: no-repeat;
}
#optiontitle{
    width:100%;
    float:left;
    cursor: pointer;
}

#optionscontent {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#optionbuttonsdiv
{
    float:right;
    display:block;
}

#optionbuttonsdiv{
    font-size: 11px;
}
#optioncheckdiv{
    font-size: 11px;
}
#optioncheckdiv .ui-spinner{
    width: 50px;
}
#optioncheckdiv{
    float:left;
    display:block;
}
#optionbuttonsdiv{
    border-left:solid 1px;
}

h1.sectiontitle{
    font-size: 18px;
    font-weight: bold;
}
h3.sectiontitle{
    font-size: 16px;
    font-weight: bold;
}
div#phonetracksettings h1, div#help h1{
    /*margin-left:30px;*/
    text-align:center;
}

ul,hr {
    margin-top : 3px;
    margin-bottom : 3px;
}
h3 {
    margin-top : 5px;
    margin-bottom : 5px;
}

.transparent {
    opacity : 0.6;
}

.uibutton {
    font-size: 13px;
    height : 28px;
}

#phonetracksettings{
    color:black;
}
.disclist{
    margin-left:20px;
    list-style-type:disc;
}
.circlist{
    margin-left:20px;
    list-style-type:circle;
}
#loading {
    /*width: 330px;*/
    padding-left: 5px;
    /*height: 35px;*/
    text-align: right;
    font-weight: bold;
    font-size: 22px;
    color: white;
    background-color: #0074D9;
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: 3% 50%;
    border-radius: 7px;
    /*float: right;*/
    position:fixed;
    left:60px;
    top:60px;
    display:none;
    /*z-index: 1000;*/
}
#loading .fa {
    font-size: 22px;
}

#loading p {
    padding: 6px 6px 6px 6px;
}
.clear {
    clear:both;
}
.spinning {
    -moz-animation:spin 0.7s linear infinite;
    -webkit-animation:spin 0.7s linear infinite;
    animation:spin 0.7s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.toplink:link {
    color: blue;
    text-decoration: underline;
}
.toplink:visited {
    color: blue;
    text-decoration: underline;
}
.toplink:hover {
    color: hotpink;
    text-decoration: underline;
}
.toplink:active {
    color: green;
    text-decoration: underline;
}

/* adapt right leaflet controls when sidebar pushes them */
@media screen and (max-width: 767px) {
    .leaflet-right { right:40px; }
}

div#options input[type=checkbox] {
    /* Double-sized Checkboxes */
    -ms-transform: scale(1.5); /* IE */
    -moz-transform: scale(1.5); /* FF */
    -webkit-transform: scale(1.5); /* Safari and Chrome */
    -o-transform: scale(1.5); /* Opera */
    padding: 5px;
    min-height: 0px;
}
div#options input {
    padding: 5px;
    min-height: 0px;
}
div#options button {
    padding: 7px 4px;
}

#optiontoggle{
    position: relative;
}
#linkhint {
    font-size: 10px;
    font-style: italic;
}
.smallbutton {
    font-size:10px;
}
.leaflet-control-layers-selector, button.ui-button {
    min-height: 0px;
}
div#logofolder {
    display: grid;
    grid-template: 50% 50% / 80px 1fr 2fr;
}
div#logo{
    grid-column: 1;
    grid-row: 1/3;
}
div#logofolder label {
    padding: 0px 5px 0px 5px;
    text-align: right;
    margin-top: auto;
    margin-bottom: auto;
}
#optionbuttonsdiv {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: right;
}
#optionbuttonsdiv button {
    grid-column: 1/3;
    height: 20px;
}
#optionbuttonsdiv select {
    width: 100%
}
#optionbuttonsdiv label {
    margin-top: auto;
    margin-bottom: auto;
}
#lastlegend {
    grid-column: 1/3;
}
#overlayserveradd, #tileserveradd, #tilewmsserveradd, #overlaywmsserveradd {
    display: grid;
    grid-template-columns: 35% 65%;
}
#tileserveradd       p,
#tilewmsserveradd    p,
#overlaywmsserveradd p,
#overlayserveradd    p{
    margin-top: auto;
    margin-bottom: auto;
}
#tileserveradd input[type=checkbox],
#tilewmsserveradd input[type=checkbox],
#overlaywmsserveradd input[type=checkbox],
#overlayserveradd input[type=checkbox]{
    margin-right: auto;
}
#tileserveradd input[type=text],
#tilewmsserveradd input[type=text],
#overlaywmsserveradd input[type=text],
#overlayserveradd input[type=text]{
    width:100%;
}
.metadatalink {
    display: block;
    text-align: center;
}
#tileserverdiv, #tilewmsserverdiv,
#overlayserverdiv, #overlaywmsserverdiv {
    display: none;
}
.customtiletitle {
    cursor: pointer;
}
.sidebar {
    z-index: 1990;
}
.session {
    border: 2px solid grey;
    border-radius: 5px;
    padding: 0 4px 0 4px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 5px;
}
.session h3 {
    grid-column: 1/3;
    text-align: center;
}
.session .moreUrls,
.session .moreUrlsButton {
    grid-column: 1/3;
}
.moreUrls {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.moreUrlsButton {
    text-align: center;
    height: 25px;
    min-height: 25px;
    line-height: 25px;
    cursor: pointer;
    background-color: #F7F7F7;
    border: solid 1px lightgrey;
}
div.session input[type=text]{
    width: 100%;
}
div.session label,
div.session p,
.watchlabel,
#logmediv label {
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
}
.watchSession i{
    color: blue;
}
.removeSession i{
    color: red;
}
#updateinterval {
    width: 80px;
    -moz-appearance: number-input;
    -webkit-appearance: initial;
}
.editPoint input[role=altitude],
.editPoint input[role=satellites],
.editPoint input[role=battery],
.editPoint input[role=precision] {
    width: 50px !important;
    height: 15px !important;
}
.editPoint input[role=minute],
.editPoint input[role=hour],
.editPoint input[role=second] {
    width: 34px !important;
    height: 15px !important;
}
.editPoint input[type=number] {
    -moz-appearance: number-input !important;
    -webkit-appearance: initial !important;
    padding: 5px !important;
    min-height: 0px !important;
}
.watchlabeldiv {
    display: grid;
    grid-template-columns: 80% 20%;
}
.numberMarker, .numberBeginMarker {
    text-align: center;
    width: 12px !important;
    height: 12px !important;
    border-radius: 50%;
    line-height:12px;
}
.numberMarker {
    background-color: rgba(0, 255, 0, 0.6);
}
#sessionnameinput {
    width: 100px;
}
#logmediv {
    display: none;
}
#logmesubdiv {
    display: grid;
    grid-template-columns: 65% 35%;
}
ul.devicelist li{
    cursor: pointer;
    border-radius: 5px;
}
ul.devicelist {
    text-align: center;
}
.easy-button-green{
    background-color: lightgreen !important;
}
.easy-button-red{
    background-color: lightcoral !important;
}
.easy-button-button {
    margin: 0 !important;
    padding: 0 !important;
}
.easy-button-button span.fa{
    margin-top: auto;
    margin-bottom: auto;
}
.followdevice {
    height: 16px !important;
    min-height: 16px !important;
    padding: 0px 0px 0px 0px !important;
    margin: 0px 0px 0px 0px !important;
    line-height: 16px !important;
    float: left;
    margin-left: 4px !important;
}
.deleteDevice {
    line-height: 20px;
    margin-right: 4px;
    float: right;
    color: blue;
}
.deviceLabel {
}
.sessionTitle {
    font-size: 20px;
    font-weight: bold;
}
#zoomallbutton {
    height: 50px !important;
}
.editsessionok , .editsessioncancel{
    width: 32% !important;
}
.editsessiondiv input{
    width: 32% !important;
}
.editsessiondiv {
    grid-column: 1/3;
}
